body {
  display: flex;
  align-items: center;
  width: 800px;
  margin: auto;
}
.post-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;            
}
.post {    
    width: 50%;
    
    margin: 20px auto;
}
i {
  font-size: 50px;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.post-icons {
    display: flex;
    justify-content: space-between;
}
.title {
  display: flex;
  align-items: center; 
}
img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}
.text {
  display: flex;
  align-items: center; 
}